.c{
    font-size: 0.9rem;
}

body{
    /* background: #f7f7f7; */
    background-color: pink;
    font-weight: normal;
    margin: 0 auto;
    position: relative;
}

.contact-list, .uni-list, .skill-list{
    list-style: none;
    position: relative;
    left: -70%;
    text-align: right;
}

.d1, .d2, .d4, .d6, .d8, .d0, .title, .date{
    font-family: 'Roboto', sans-serif;
}

.d1{
    background: white;
    border: 1px solid black;
    top: 35px;
    text-align: center;
    position: relative;
    width: 500px;
    height: 90px;
    margin: auto;
    letter-spacing: 0.2em;
}

.d2{
    background: #eeecec;
    text-align: center;
    padding: 0.5px 0 10px 0;
    margin-top: 5px;
}

.d3{
    border-left: 3px solid rgb(96, 95, 95);
    height: 700px;
    margin-left: 40px;
    margin-top: 50px;
    width: 3px;
    position: relative;
    left: 20%;
}

.d4{
    position: absolute;
    left: 25%;
    top: 26%;
    }
.d5{
    position: relative;
}

.d6{
    position: absolute;
    top: 26%;
    left: 13%;
}

.d7{
    position: relative;
}

.d8{
    position: absolute;
    left: 10.5%;
    top: 44%;
}

.d0{
    position: absolute;
    left: 15%;
    top: 79%;
}
.date{
        margin-top: 10px;
        font-size: 1.3rem;
        font-weight: 100;
        margin-bottom: 0;
    }

.experience{
    font-weight: bold;
    margin-bottom: 0;
}

.list-item{
    margin-bottom: 10px;
    font-size: 1.1rem;
    }

.project-link{
    color: black;
    text-decoration: none;
}

.res{
    margin-top: 0px;
    font-size: 1.3rem;
    margin-bottom: 8px;
    position: relative;
    left: -6%;
}

.resume{
    margin-top: 50px;
    font-size: 2em;
}

.title{
    font-weight: 100;
    font-size: 2rem;
    margin-top: 7px;
    margin-bottom: 0;
}

.uni-list{
    left: -55%;
}